:root {

  /* color */
  --white: #FAFAFA;
  --black: #000000;
  --brand-color: #111867;
  --point-color: #FFD633;
  --gray-scale900: #1A1A1A;
  --gray-scale600: #666666;

  /* font */
  --font-size16: 1rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size24: 1.5rem;
  --font-size28: 1.75rem;
  --font-size40: 2.5rem;

  --font-weight400: 400;
  --font-weight600: 600;
}