.BG {
  color: var(--white);
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  all: unset;
  /* 배경, 테두리 제거 */
}

table {
  border-collapse: collapse;
  border: none;
}

img{
  display: block;
}

h3 {
  font-size: 4rem;
  font-weight: var(--font-weight600);
  text-transform: capitalize;
}