/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 71px;
  text-align: center;

  color: #fafafa;
}

.logo_header {
  width: 140px;
  height: 71px;
  margin-left: 80px;
  
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 71px;
}

header a {
  display: block;
  background: none;
}

/* nav */
.nav_header {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.nav_header li {
  width: 140px;
  height: 71px;
  line-height: 71px;
  font-size: 1.25rem;
  font-weight: 800;
}

.nav_header li:hover {
  opacity: 0.7;
}

/* mmca lab */
.user_header {
  /* text-align: center; */
  margin-right: 70px;
  display: flex;
  font-size: 0.93rem;
  font-weight: 500;
  height: 71px;
}

.mmca_btn {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.mmca_btn:hover .btn_box {
  background: #fafafa;
  color: #457B07;
}

.btn_box {
  width: 107px;
  height: 35px;
  background: #457B07;
  border-radius: 30px;
  text-align: center;
  line-height: 35px;
}

/* user */

.user_controls {
  width:60px;
  height:71px;
  line-height: 71px;
}

/* lange */

.user_lange {
  width: 60px;
  height: 100%;
  color: #fafafa;
  display: flex;
  padding-left: 16px;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown_icon {
  width: 14px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_icon img {
  background: none;
}

.user_lange .lange_list {
  position: relative;
  z-index: 2;
}

.user_lange .lange_list .lange_item {
  display: none;
  position: absolute;
  top: 44px;
  left: -25px;
  text-align: left;
  padding: 0 22px;
}

.user_lange .lange_list .lange_item li {
  margin-bottom: 10px;
}

.user_lange .lange_list .lange_item li.on {
  color: #457B07;
  text-decoration: underline;
}



/* menu */
.hamburger {
  position: fixed;
  left: 95%;
  top: 50%;
  background: none;
  z-index: 12;
}

.hamburger button {
  position: relative;
}

.hamburger .ham_btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  z-index: 2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hamburger .ham_btn span {
  width: 30px;
  height: 5px;
  background: #fafafa;
}

.hamburger .ham_btn_bg {
  width: 50px;
  height: 50px;
  background: #7E7E7E;
  opacity: 0.5;
  border-radius: 100%;
}

/* content */
.content {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}